
/* 页头菜单导航及其子菜单 */
.topnav li ul.subnav {
	width:85px;
}
.topnav li ul.subnav li{
	width:85px;
}
.topnav li ul.subnav li a {
	width:85px;
}

#topBody .mainMenu .topnav .a	{ width:84.5px; }
#topBody .mainMenu .topnav .b	{ width:84.5px; }